/*Global Vars*/
/*Imports*/
/*Vendors*/
/*Projekt SASS*/
#main-background {
  color: green;
  font-family: "Courier New", Arial, sans-serif;
  background-color: black;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: green;
  margin: 5px;
}

.container {
  display: inline-block;
  width: 800px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typewriter {
  overflow: hidden;
  border-right: 12px solid green;
  white-space: nowrap;
  -webkit-animation: typing 1s steps(15, end) forwards, blinking 1s forwards;
          animation: typing 1s steps(15, end) forwards, blinking 1s forwards;
  width: 0;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blinking {
  from {
    border-color: green;
  }
  99% {
    border-color: green;
  }
  to {
    border-color: transparent;
  }
}

@keyframes blinking {
  from {
    border-color: green;
  }
  99% {
    border-color: green;
  }
  to {
    border-color: transparent;
  }
}

.late-login {
  -webkit-animation: blinkup 1.5s;
          animation: blinkup 1.5s;
  background-color: black;
  border-style: double;
  border-color: green;
  margin: 20px;
  position: absolute;
  top: 300px;
  left: 315px;
  z-index: 10;
}

.late-login input[type=text] {
  width: 150px;
}

.late-login input[type=password] {
  width: 150px;
}

.late-login input[type=submit] {
  width: 50px;
  visibility: hidden;
}

.blinkup-class {
  -webkit-animation: blinkup 1.5s;
          animation: blinkup 1.5s;
}

.blinkup-secondary-class {
  -webkit-animation: blinkup;
          animation: blinkup;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.fast-blink {
  -webkit-animation: fast-blinkup;
          animation: fast-blinkup;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.loosebreak {
  overflow-wrap: anywhere;
}

.nowrap {
  white-space: nowrap;
}

@-webkit-keyframes blinkup {
  0% {
    color: orange;
    display: none;
    opacity: 0;
  }
  86% {
    display: block;
    opacity: 0;
  }
  87% {
    opacity: 0.7;
  }
  89% {
    opacity: 0;
  }
  92% {
    opacity: 0.8;
  }
  94% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    color: green;
  }
}

@keyframes blinkup {
  0% {
    color: orange;
    display: none;
    opacity: 0;
  }
  86% {
    display: block;
    opacity: 0;
  }
  87% {
    opacity: 0.7;
  }
  89% {
    opacity: 0;
  }
  92% {
    opacity: 0.8;
  }
  94% {
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    color: green;
  }
}

@-webkit-keyframes fast-blinkup {
  0% {
    color: orange;
    display: none;
    opacity: 0;
  }
  36% {
    display: block;
    opacity: 0;
  }
  37% {
    opacity: 0.7;
  }
  59% {
    opacity: 0;
  }
  64% {
    opacity: 0.8;
  }
  87% {
    opacity: 0;
  }
  92% {
    opacity: 0.7;
  }
  97% {
    opacity: 0.2;
  }
  100% {
    display: block;
    opacity: 1;
    color: green;
  }
}

@keyframes fast-blinkup {
  0% {
    color: orange;
    display: none;
    opacity: 0;
  }
  36% {
    display: block;
    opacity: 0;
  }
  37% {
    opacity: 0.7;
  }
  59% {
    opacity: 0;
  }
  64% {
    opacity: 0.8;
  }
  87% {
    opacity: 0;
  }
  92% {
    opacity: 0.7;
  }
  97% {
    opacity: 0.2;
  }
  100% {
    display: block;
    opacity: 1;
    color: green;
  }
}

form input:focus {
  background-color: green;
  border: 1px solid green;
  color: black;
  outline: none;
}

form input {
  border: 1px solid green;
  background-color: black;
  color: green;
}

.cyberbutton {
  background-color: green;
  border: none;
  color: black;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.text-to-center {
  text-align: center;
}

.center-things {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.smallbutton {
  width: 50px;
}

.left-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: left;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.right-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: right;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: left;
  padding: 5px;
}

p {
  margin: 0px;
}

a:active {
  color: #D08222;
  text-decoration: underline;
}

a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  color: #D08222;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */