.left-content{
    flex: 1;
    float: left;
    padding: 5px;
    width: fit-content;
}

.right-content{
    flex: 1;
    float: right;
    padding: 5px;
    width: fit-content;
}

.content{
    flex: 1;
    float: left;
    padding: 5px;
    
}

p{
    margin: 0px;
}

a:active{
    color: $sfcolor;
    text-decoration: underline;
}
a:link{
    color: $pfcolor;
    text-decoration: none;
}
a:visited{
    color: $pfcolor;
    text-decoration: none;
}
a:hover{
    color: $sfcolor;
    text-decoration: none;
}
