
#main-background{
    color: $pfcolor;
    font-family: $fontNormal;
    background-color: $backgroundMain;
}



.border{
    border-style: solid;
    border-width: 1px;
    border-color: $pfcolor;
    margin: 2px;
}

.container{
    display: inline-block;
    width: 800px;
}

.row{
    display: flex;
}

.typewriter {
    overflow: hidden;
    border-right: 12px solid $pfcolor;
    white-space: nowrap;
    animation: 
        typing 1s steps(15, end) forwards,
        blinking 1s forwards;
    width: 0;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    from { border-color: $pfcolor; } 
    99% { border-color: $pfcolor; } 
    to { border-color: transparent }
}
  
.late-login{
    animation: blinkup 1.5s;    
    background-color: $backgroundMain;
    border-style: double;
    border-color: $pfcolor;
    margin: 20px;    
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 10;
}

@keyframes blinkup {
    0% {
        color: orange;
        display: none;
        opacity: 0;
    }

    86% {
        display: block;
        opacity: 0;
    }

    87% {
        opacity: 0.7;
    }

    89% {
        opacity: 0;
    }

    92% {
        opacity: 0.8;
    }

    94% {
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
        color: green;
    }
}
