
#main-background{
    color: $pfcolor;
    font-family: $fontNormal;
    background-color: $backgroundMain;
}



.border{
    border-style: solid;
    border-width: 1px;
    border-color: $pfcolor;
    margin: 5px;
}

.container{
    display: inline-block;
    width: 800px;
}

.row{
    display: flex;
}

.typewriter {
    overflow: hidden;
    border-right: 12px solid $pfcolor;
    white-space: nowrap;
    animation: 
        typing 1s steps(15, end) forwards,
        blinking 1s forwards;
    width: 0;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    from { border-color: $pfcolor; } 
    99% { border-color: $pfcolor; } 
    to { border-color: transparent }
}
  
.late-login{
    animation: blinkup 1.5s;    
    background-color: $backgroundMain;
    border-style: double;
    border-color: $pfcolor;
    margin: 20px;    
    position: absolute;
    top: 300px;
    left: 315px;
    z-index: 10;

    input[type=text]{
        width: 150px;
    }

    input[type=password]{
        width: 150px;
    }
    
    input[type=submit]{
        width: 50px;
        visibility: hidden;
    }
    
}

.blinkup-class{
    animation: blinkup 1.5s;
}

.blinkup-secondary-class{
    //display: none;
    animation: blinkup;
    animation-duration: 1.8s;
    //animation-delay: 1s;
}

.fast-blink{
    animation: fast-blinkup;
    animation-duration: 0.6s;
}

.loosebreak{
    overflow-wrap: anywhere;
}

.nowrap{
    white-space: nowrap;
}


@keyframes blinkup {
    0% {
        color: orange;
        display: none;
        opacity: 0;
    }

    86% {
        display: block;
        opacity: 0;
    }

    87% {
        opacity: 0.7;
    }

    89% {
        opacity: 0;
    }

    92% {
        opacity: 0.8;
    }

    94% {
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
        color: green;
    }
}

@keyframes fast-blinkup {
    0% {
        color: orange;
        display: none;
        opacity: 0;
    }

    36% {
        display: block;
        opacity: 0;
    }

    37% {
        opacity: 0.7;
    }

    59% {
        opacity: 0;
    }

    64% {
        opacity: 0.8;
    }

    87% {
        opacity: 0;
    }

    92% {
        opacity: 0.7;
    }

    97% {
        opacity: 0.2;
    }

    100% {
        display: block;
        opacity: 1;
        color: green;
    }
}

form{
  
    input:focus{
        background-color: $pfcolor;
        border: 1px solid $pfcolor;
        color: $backgroundMain;
        outline: none;
    }

    input{
        border: 1px solid $pfcolor;
        background-color: $backgroundMain;
        color: $pfcolor;
    }    
}

.cyberbutton{
    background-color: $pfcolor;
    border: none;
    color: $backgroundMain;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.text-to-center{
    text-align: center;
}

.center-things{
    align-self: center;
    text-align: center;
}

.smallbutton{
    width: 50px;
}