//Fonts
//$fontNormal: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
//$fontThick: Segoe UI semibold,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
//$fontLight: Segoe UI semilight,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
$fontNormal: 'Courier New', Arial, sans-serif;
//old 'Open Sans', sans-serif;
//colors
$overlayColor: rgba(58, 58, 58, 0.1);
$overlayColorDark: rgba(58, 58, 58, 0.5);
$emdionBlue: rgb(0, 52, 112);
$emdionRed: rgb(179, 36, 40);
$emdionBright: white;
$emdionShallow: rgb(131, 131, 131);
$emdionLight: rgb(202, 202, 202);
$backgroundMain: black;
$pfcolor: green; //primary font color
$sfcolor: #D08222;
//Responsivness
$tablet: 1100px;
$phone: 660px;
